<!DOCTYPE html>
<html lang="en">

{{>_header}}

<body>
    <!--============================= HEADER =============================-->
    {{>_navbar}}
    <!--//END HEADER -->
    <div id="frontPageSlider" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#frontPageSlider" data-slide-to="0" class="active"></li>
            <li data-target="#frontPageSlider" data-slide-to="1"></li>
            <li data-target="#frontPageSlider" data-slide-to="2"></li>
            <li data-target="#frontPageSlider" data-slide-to="3"></li>
            <li data-target="#frontPageSlider" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" id="slidercss" style="background-image: url('img/food_connect.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-4">Food Connect</h2>
                    <p class="lead">Serving Great Burgers and Buns</p>
                </div>
            </div>

            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" id="slidercss" style="background-image: url('img/koufu.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-4">KouFu</h2>
                    <p class="lead">Food Court With Air Conditioning</p>
                </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" id="slidercss" style="background-image: url('img/south_canteen.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-4">South Canteen</h2>
                    <p class="lead">Coffee Shop With Great Pricing</p>
                </div>
            </div>
            <!-- Slide four - Set the background image for this slide in the line below -->
            <div class="carousel-item" id="slidercss" style="background-image: url('img/north_canteen.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-4">The Canopy</h2>
                    <p class="lead">Coffee Shop With Good Space</p>
                </div>
            </div>
            <!-- Slide five - Set the background image for this slide in the line below -->
            <div class="carousel-item" id="slidercss" style="background-image: url('img/foodgle.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-4">Foodgle</h2>
                    <p class="lead">Food Court With Good Food</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#frontPageSlider" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#frontPageSlider" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!--============================= CATEGORIES =============================-->
    <section class="main-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="styled-heading">
                        <h3>Browse Categories</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 category-responsive">
                    <a href="menu/menu-chinese" class="category-wrap">
                        <div class="category-block">
                            <svg class="category-img" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                                viewBox="0 0 512 512" style="enable-background:new 0 0 496 496;" xml:space="preserve"
                                width="512px" height="512px">
                                <g>
                                    <g>
                                        <path
                                            d="M505.321,92.526c-6.894-4.595-16.206-2.733-20.801,4.16l-47.52,71.278l-43.45-65.174l27.68-83.04
                                            c2.619-7.859-1.628-16.354-9.487-18.974c-7.858-2.621-16.354,1.628-18.974,9.487l-26.581,79.742h-58.377l23.419-70.256
                                            c2.619-7.859-1.628-16.354-9.487-18.974c-7.858-2.621-16.354,1.628-18.974,9.487L276.19,90.004H135.003
                                            c-5.016,0-9.699,2.507-12.48,6.679l-47.52,71.278l-47.52-71.278c-4.595-6.893-13.908-8.755-20.801-4.16
                                            c-6.894,4.595-8.756,13.908-4.16,20.801l58.346,87.52l54.602,274.985c4.192,20.961,22.75,36.175,44.126,36.175h192.811
                                            c21.376,0,39.934-15.214,44.13-36.195l54.597-274.961l58.346-87.52C514.076,106.433,512.214,97.121,505.321,92.526z
                                            M143.031,120.005c13.319,0,217.998,0,225.943,0l40,60H103.031L143.031,120.005z M367.115,469.945
                                            c-1.397,6.987-7.583,12.058-14.708,12.058h-192.81c-7.125,0-13.311-5.071-14.704-12.038l-51.618-259.96H418.73L367.115,469.945z"
                                            data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                            fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path d="M255.002,272.004c-41.355,0-74.999,33.645-74.999,74.999s33.645,74.999,74.999,74.999s74.999-33.645,74.999-74.999
                                            S296.357,272.004,255.002,272.004z M255.002,392.003c-24.813,0-45-20.187-45-45s20.187-45,45-45s45,20.187,45,45
                                            S279.815,392.003,255.002,392.003z" data-original="#000000"
                                            class="active-path" data-old_color="#ff3a6d" fill="#ff3a6d" />
                                    </g>
                                </g>
                            </svg>
                            <h6>Chinese Cuisine</h6>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 category-responsive">
                    <a href="menu/menu-malay" class="category-wrap">
                        <div class="category-block">
                            <svg class="category-img" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px"
                                viewBox="0 0 512 512" style="enable-background:new 0 0 469.824 469.824;"
                                xml:space="preserve" width="512px" height="512px">
                                <g>
                                    <g>
                                        <path d="M503.467,409.6H8.533c-4.71,0-8.533,3.814-8.533,8.533C0,469.888,42.112,512,93.867,512h324.267
			C469.888,512,512,469.888,512,418.133C512,413.414,508.186,409.6,503.467,409.6z M418.133,494.933H93.867
			c-39.467,0-72.073-29.918-76.331-68.267h476.919C490.197,465.016,457.6,494.933,418.133,494.933z"
                                            data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                            fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path d="M256.009,281.6c-0.043,0-0.077,0-0.111,0c-33.63,0-65.929,12.382-90.931,34.876l11.409,12.681
			c21.871-19.661,50.108-30.49,79.531-30.49c0.026,0,0.068,0,0.094,0c47.292,0,87.723,24.695,103.006,62.899l15.855-6.332
			C356.966,310.502,310.306,281.6,256.009,281.6z" data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                            fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path d="M321.229,339.234c-43.537-35.951-108.203-29.781-144.162,13.739l13.158,10.863
			c29.961-36.267,83.857-41.421,120.124-11.452c5.888,4.873,11.093,10.505,15.471,16.725l13.978-9.805
			C334.541,351.838,328.294,345.088,321.229,339.234z" data-original="#000000" class="active-path"
                                            data-old_color="#ff3a6d" fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path d="M303.778,369.374c-26.897-26.359-70.195-25.899-96.546,0.973l12.194,11.947c19.763-20.156,52.25-20.489,72.405-0.742
			c9.771,9.566,15.369,22.895,15.369,36.582h17.067C324.267,399.889,316.8,382.114,303.778,369.374z"
                                            data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                            fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path d="M350.242,315.733c-0.128,0-0.247,0-0.375,0h-8.533V332.8h8.567c48.444,0.188,89.813,37.632,93.867,86.042l16.998-1.417
			C455.996,360.329,407.467,315.733,350.242,315.733z" data-original="#000000" class="active-path"
                                            data-old_color="#ff3a6d" fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path d="M400.751,369.451c-15.292-13.67-35.004-20.591-55.475-19.43c-20.48,1.135-39.287,10.189-52.966,25.472l12.715,11.383
			c10.641-11.887,25.267-18.935,41.199-19.823c16.017-0.828,31.249,4.48,43.153,15.113c10.726,9.6,17.63,22.75,19.439,37.043
			l16.939-2.15C423.424,398.694,414.541,381.781,400.751,369.451z" data-original="#000000" class="active-path"
                                            data-old_color="#ff3a6d" fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path d="M360.064,385.263c-22.793-5.854-46.071,7.97-51.917,30.754l16.538,4.233c3.499-13.67,17.476-21.956,31.147-18.449
			c9.054,2.313,16.137,9.387,18.449,18.449l16.538-4.233C386.944,400.913,375.168,389.129,360.064,385.263z"
                                            data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                            fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path d="M170.846,315.921c-29.534-2.406-58.24,6.81-80.828,25.984c-22.596,19.174-36.369,46.003-38.784,75.529l17.007,1.399
			c2.039-24.994,13.696-47.693,32.811-63.906c19.123-16.222,43.409-24.047,68.403-21.982c13.867,1.126,27.554,5.436,39.586,12.442
			l8.593-14.754C203.409,322.347,187.23,317.261,170.846,315.921z" data-original="#000000" class="active-path"
                                            data-old_color="#ff3a6d" fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path d="M171.529,350.259c-41.975-5.188-80.444,24.798-85.615,66.833l16.939,2.082c4.019-32.691,33.886-55.927,66.586-51.985
			c27.247,3.362,48.623,24.738,51.977,51.985l16.956-2.082C234.052,382.054,206.566,354.569,171.529,350.259z"
                                            data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                            fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path d="M172.919,385.476c-11.017-2.884-22.519-1.289-32.35,4.454c-9.839,5.76-16.845,15.01-19.721,26.035l16.512,4.318
			c1.732-6.613,5.939-12.169,11.836-15.616c5.897-3.456,12.8-4.403,19.413-2.671c8.943,2.338,15.957,9.344,18.295,18.295
			l16.504-4.326C199.509,401.05,187.827,389.367,172.919,385.476z" data-original="#000000" class="active-path"
                                            data-old_color="#ff3a6d" fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path d="M256,384c-18.825,0-34.133,15.309-34.133,34.133h17.067c0-9.412,7.654-17.067,17.067-17.067
			c9.412,0,17.067,7.654,17.067,17.067h17.067C290.133,399.309,274.825,384,256,384z" data-original="#000000"
                                            class="active-path" data-old_color="#ff3a6d" fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <rect x="85.333" y="34.133" width="68.267" height="17.067"
                                            data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                            fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <rect x="102.4" y="68.267" width="51.2" height="17.067" data-original="#000000"
                                            class="active-path" data-old_color="#ff3a6d" fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path
                                            d="M66.543,183.501c-9.045-15.812-9.045-35.447,0-51.26c12.032-21.035,12.032-47.172,0-68.207
			c-9.045-15.812-9.045-35.447,0-51.26c1.51-2.645,1.502-5.888-0.026-8.525C64.99,1.621,62.174,0,59.136,0H34.133v17.067H46.08
			c-5.922,18.236-4.045,38.494,5.649,55.433c9.045,15.812,9.045,35.447,0,51.26c-12.032,21.035-12.032,47.172,0,68.207
			c9.045,15.812,9.045,35.447,0,51.26c-12.032,21.043-12.032,47.172-0.35,67.524c2.611,5.7,4.821,11.614,6.571,17.553l16.367-4.821
			c-1.98-6.724-4.48-13.389-7.774-20.514c-9.045-15.804-9.045-35.456,0-51.26C78.575,230.673,78.575,204.535,66.543,183.501z"
                                            data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                            fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path d="M511.983,62.208c-0.7-24.969-21.572-44.527-46.566-44.032l-248.653,7.313L203.75,12.476
			C195.695,4.429,184.986,0,173.611,0c-0.017,0-0.034,0-0.043,0H94.464c-3.063,0-5.888,1.638-7.407,4.292
			c-12.032,21.035-12.032,47.172,0,68.207c9.045,15.812,9.045,35.448,0,51.26c-12.032,21.035-12.032,47.172,0,68.207
			c9.045,15.812,9.045,35.447,0,51.26c-12.032,21.043-12.032,47.172,0,68.207c1.169,2.048,2.193,4.173,3.072,6.366l15.838-6.349
			c-1.161-2.91-2.543-5.768-4.096-8.482c-9.045-15.804-9.045-35.456,0-51.26c12.032-21.035,12.032-47.172,0-68.207
			c-9.045-15.812-9.045-35.447,0-51.26c2.338-4.096,4.224-8.371,5.649-12.774h66.039c0.017,0,0.026,0,0.043,0
			c11.383,0,22.093-4.437,30.148-12.484l12.911-12.911l247.381,14.541c0.887,0.051,2.125,0.034,2.645,0.077
			c24.969,0,45.295-20.309,45.312-45.286L511.983,62.208z M466.68,91.622c-0.657-0.145-1.075-0.017-1.621-0.043L213.837,76.817
			c-2.432-0.179-4.813,0.759-6.537,2.483l-15.616,15.616c-4.83,4.821-11.247,7.484-18.091,7.484c-0.009,0-0.017,0-0.026,0h-62.805
			c0.811-13.193-2.15-26.581-8.892-38.374c-8.235-14.404-8.969-31.991-2.193-46.959h73.899c0.009,0,0.017,0,0.026,0
			c6.827,0,13.252,2.662,18.082,7.492L207.3,40.175c1.655,1.655,3.977,2.628,6.281,2.492l252.322-7.433
			c15.932-0.435,28.578,11.887,29.03,28.16C494.916,78.967,482.244,91.622,466.68,91.622z" data-original="#000000"
                                            class="active-path" data-old_color="#ff3a6d" fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path d="M135.996,183.501c-9.045-15.812-9.045-35.447-0.009-51.251c3.413-5.939,5.905-12.331,7.415-19.004l-16.648-3.763
			c-1.135,5.009-3.004,9.813-5.572,14.285c-12.032,21.035-12.032,47.172,0,68.207c9.045,15.812,9.045,35.456-0.009,51.277
			c-11.136,19.558-12.006,43.375-2.33,63.693l15.403-7.33c-7.287-15.292-6.622-33.203,1.749-47.906
			C148.028,230.673,148.028,204.536,135.996,183.501z" data-original="#000000" class="active-path"
                                            data-old_color="#ff3a6d" fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <rect x="34.133" y="34.133" width="17.067" height="17.067"
                                            data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                            fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <rect x="34.133" y="68.267" width="25.6" height="17.067" data-original="#000000"
                                            class="active-path" data-old_color="#ff3a6d" fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <rect x="34.133" y="102.4" width="34.133" height="17.067"
                                            data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                            fill="#ff3a6d" />
                                    </g>
                                </g>
                            </svg>
                            <h6>Malay Cuisine</h6>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 category-responsive">
                    <a href="menu/menu-indian" class="category-wrap">
                        <div class="category-block">
                            <svg class="category-img" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_2" x="0px" y="0px"
                                viewBox="0 0 512 512" style="enable-background:new 0 0 503.607 503.607;"
                                xml:space="preserve" width="512px" height="512px">
                                <g>
                                    <g>
                                        <path
                                            d="M166.547,289.497c-10.488-10.488-24.432-16.264-39.264-16.264c-14.833,0-28.777,5.776-39.265,16.264
                                            c-21.651,21.65-21.651,56.878,0,78.528c10.488,10.488,24.432,16.264,39.265,16.264c14.832,0,28.776-5.776,39.264-16.264
                                            C188.197,346.375,188.197,311.147,166.547,289.497z M155.836,357.315c-7.627,7.627-17.767,11.828-28.553,11.828
                                            c-10.787,0-20.927-4.2-28.554-11.828c-15.745-15.745-15.745-41.363,0-57.108c7.627-7.627,17.767-11.828,28.554-11.828
                                            c10.786,0,20.926,4.2,28.553,11.828c7.628,7.627,11.828,17.767,11.828,28.554C167.664,339.547,163.464,349.688,155.836,357.315z"
                                            data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                            fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <circle cx="147.66" cy="318.61" r="7.573" data-original="#000000"
                                            class="active-path" data-old_color="#ff3a6d" fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <circle cx="121.74" cy="347.91" r="7.573" data-original="#000000"
                                            class="active-path" data-old_color="#ff3a6d" fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <circle cx="110.97" cy="313.39" r="7.573" data-original="#000000"
                                            class="active-path" data-old_color="#ff3a6d" fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path d="M489.978,359.959c20.384-45.871,26.787-96.266,18.5-146.119c-8.78-52.826-33.503-100.83-71.494-138.821
                                            c-37.949-37.948-85.895-62.66-138.654-71.466c-49.9-8.329-100.362-1.938-146.289,18.47L135.565,5.546
                                            c-4.206-4.203-10.673-5.382-16.093-2.931c-20.139,9.102-38.161,21.712-53.566,37.48C51.469,54.87,39.829,71.93,31.306,90.802
                                            c-2.438,5.399-1.251,11.85,2.95,16.053l8.083,8.083C10.813,162.598-3.89,220.02,0.882,277.375
                                            C5.89,337.562,32.201,394.263,74.97,437.032c16.865,16.864,35.882,31.244,56.523,42.741c5.152,2.87,10.473,5.594,15.815,8.098
                                            c3.998,1.874,8.099,3.666,12.188,5.328c30.593,12.43,63.534,18.799,96.602,18.799c9.174,0,18.362-0.491,27.507-1.478
                                            c40.529-4.375,79.615-18.474,113.459-40.857l8.206,8.206c2.756,2.756,6.42,4.218,10.155,4.218c1.839,0,3.697-0.355,5.471-1.083
                                            c19.48-7.995,36.972-19.491,51.989-34.167c15.941-15.576,28.33-33.961,36.824-54.643c2.212-5.383,0.982-11.52-3.131-15.633
                                            L489.978,359.959z M295.837,18.492c49.629,8.283,94.732,31.534,130.435,67.237c35.745,35.744,59.004,80.903,67.263,130.594
                                            c7.475,44.971,2.245,90.404-15.092,132.102l-40.388-40.388c14.684-51.518,7.009-106.702-21.322-152.114
                                            c-2.214-3.549-6.888-4.631-10.434-2.417c-3.549,2.214-4.631,6.886-2.417,10.434c24.549,39.35,32.227,86.683,21.743,131.666
                                            L216.384,86.365c58.489-13.647,119.899,3.626,162.763,46.489c1.567,1.567,3.123,3.183,4.627,4.803
                                            c1.492,1.608,3.519,2.422,5.553,2.422c1.843,0,3.692-0.669,5.15-2.022c3.066-2.845,3.245-7.637,0.399-10.703
                                            c-1.63-1.757-3.318-3.51-5.017-5.21c-48.79-48.789-119.679-67.049-185.877-48.182l-40.405-40.405
                                            C205.327,16.2,250.818,10.979,295.837,18.492z M281.98,495.461c-39.628,4.28-80.013-1.356-116.782-16.295
                                            c-3.847-1.563-7.703-3.248-11.463-5.01c-5.024-2.354-10.028-4.917-14.873-7.615c-19.416-10.815-37.309-24.346-53.182-40.219
                                            c-40.239-40.238-64.994-93.582-69.705-150.203c-4.404-52.935,8.82-105.92,37.31-150.234l37.518,37.518
                                            c-17.965,32.057-26.297,69.406-23.669,106.261c-32.356,32.925-32.195,86.025,0.511,118.732
                                            c15.929,15.929,37.108,24.702,59.635,24.702c6.687,0,13.25-0.791,19.597-2.295c14.786,10.449,30.917,18.666,48.059,24.487
                                            c2.03,10.503,7.104,20.529,15.221,28.646c10.826,10.825,25.046,16.238,39.264,16.238c14.22,0,28.44-5.413,39.265-16.238
                                            c7.032-7.032,11.764-15.499,14.229-24.465c16.001-4.077,31.324-10.206,45.685-18.271l37.519,37.519
                                            C354.891,478.793,319.079,491.456,281.98,495.461z M81.779,276.659c12.608-11.042,28.587-17.088,45.503-17.088
                                            c18.481,0,35.856,7.197,48.924,20.265c26.977,26.977,26.977,70.872,0,97.849c-7.942,7.942-17.481,13.701-27.888,17.008
                                            c-0.038-0.021-4.467,1.357-4.543,1.281c-5.336,1.299-10.862,1.976-16.494,1.976c-18.481,0-35.856-7.197-48.923-20.265
                                            c-26.857-26.857-26.967-70.473-0.351-97.48C78.028,280.033,81.653,276.885,81.779,276.659z M220.871,396.117
                                            c7.872-7.872,18.213-11.808,28.554-11.808c10.34,0,20.681,3.936,28.553,11.808c9.294,9.294,13.097,22.028,11.419,34.141
                                            c-0.455,1.043-0.678,2.193-0.62,3.376c-1.624,7.184-5.217,14.009-10.799,19.591c-15.744,15.744-41.363,15.745-57.107,0
                                            C205.126,437.48,205.126,411.861,220.871,396.117z M462.3,436.004c-13.497,13.19-29.202,23.548-46.681,30.792l-174.8-174.8
                                            c-2.959-2.959-7.754-2.957-10.711,0c-2.957,2.957-2.957,7.753,0,10.71l107.333,107.333c-10.372,5.493-21.262,9.912-32.549,13.201
                                            c-0.351-13.739-5.742-27.371-16.204-37.833c-21.65-21.65-56.878-21.651-78.53,0c-9.369,9.369-14.675,21.282-15.935,33.536
                                            c-10.317-3.901-20.209-8.763-29.584-14.548c8.141-4.03,15.667-9.388,22.278-15.999c32.882-32.883,32.882-86.387,0-119.27
                                            c-15.93-15.929-37.109-24.702-59.636-24.702c-16.371,0-32.018,4.654-45.467,13.299c-0.242-28.902,6.723-57.716,20.153-83.158
                                            l102.466,102.467c2.958,2.957,7.753,2.957,10.711,0c2.957-2.957,2.957-7.753,0-10.71L106.123,157.3
                                            c-0.292-0.352-0.619-0.679-0.979-0.979l-59.8-59.8c7.77-17.049,18.331-32.47,31.395-45.841
                                            c13.961-14.287,30.273-25.74,48.493-34.045l349.207,349.207c0.581,0.916,1.364,1.714,2.323,2.323l18.744,18.744
                                            C487.806,405.48,476.637,421.996,462.3,436.004z" data-original="#000000"
                                            class="active-path" data-old_color="#ff3a6d" fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <circle cx="232.92" cy="167" r="7.573" data-original="#000000"
                                            class="active-path" data-old_color="#ff3a6d" fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <circle cx="193.9" cy="164.13" r="7.573" data-original="#000000"
                                            class="active-path" data-old_color="#ff3a6d" fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <circle cx="215.59" cy="219.67" r="7.573" data-original="#000000"
                                            class="active-path" data-old_color="#ff3a6d" fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <circle cx="251.1" cy="204.53" r="7.573" data-original="#000000"
                                            class="active-path" data-old_color="#ff3a6d" fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <circle cx="258.67" cy="263.6" r="7.573" data-original="#000000"
                                            class="active-path" data-old_color="#ff3a6d" fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <circle cx="304.95" cy="264.1" r="7.573" data-original="#000000"
                                            class="active-path" data-old_color="#ff3a6d" fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <circle cx="297.38" cy="308.54" r="7.573" data-original="#000000"
                                            class="active-path" data-old_color="#ff3a6d" fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <circle cx="344.84" cy="271.68" r="7.573" data-original="#000000"
                                            class="active-path" data-old_color="#ff3a6d" fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <circle cx="301.08" cy="219.67" r="7.573" data-original="#000000"
                                            class="active-path" data-old_color="#ff3a6d" fill="#ff3a6d" />
                                    </g>
                                </g>
                            </svg>
                            <h6>Indian Cuisine</h6>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 category-responsive">
                    <a href="menu/menu-western" class="category-wrap">
                        <div class="category-block">
                            <svg class="category-img" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_3" x="0px" y="0px"
                                viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"
                                width="512px" height="512px">
                                <g>
                                    <path
                                        d="m482 271h15c8.285156 0 15-6.714844 15-15 0-140.960938-115.050781-256-256-256-140.960938 0-256 115.050781-256 256 0 3.976562 1.582031 7.792969 4.394531 10.605469 2.8125 2.816406 6.628907 4.394531 10.605469 4.394531h15v90h-15c-8.285156 0-15 6.714844-15 15 0 74.640625 61.378906 136 136 136h240c74.640625 0 136-61.378906 136-136 0-8.285156-6.714844-15-15-15h-15c0-10.933594 0-79.03125 0-90zm-30 91.003906c-30.273438 4.0625-57.886719 20.238282-75.960938 44.324219-20.804687-28.066406-53.996093-45.328125-90.039062-45.328125h-123.472656c15.367187-18.832031 38.402344-30 63.472656-30h226zm-392-29.636718c19.351562 3.535156 36.929688 13.773437 49.328125 28.632812h-49.328125zm196-302.367188c119.574219 0 217.757812 93.363281 225.507812 211.011719l-451.015624-.011719c7.75-117.648438 105.933593-211 225.507812-211zm196 241v30h-226c-20.828125 0-41.207031 5.789062-58.925781 16.738281-12.148438 7.511719-22.6875 17.222657-31.113281 28.589844-18.074219-24.085937-45.6875-40.261719-75.960938-44.324219v-31.015625zm-76 211h-240c-53.359375 0-97.632812-39.628906-104.941406-91h254.941406c31.15625 0 59.183594 17.234375 73.234375 45.015625l2.996094 6.929687c2.371093 5.496094 7.785156 9.054688 13.769531 9.054688s11.398438-3.558594 13.769531-9.054688l2.996094-6.929687c13.851563-27.359375 42.945313-45.027344 74.234375-45.027344h13.941406c-7.308594 51.371094-51.582031 91.011719-104.941406 91.011719zm0 0"
                                        data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                        fill="#ff3a6d" />
                                    <path
                                        d="m256 121c-8.285156 0-15 6.714844-15 15v30c0 8.285156 6.714844 15 15 15s15-6.714844 15-15v-30c0-8.285156-6.714844-15-15-15zm0 0"
                                        data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                        fill="#ff3a6d" />
                                    <path
                                        d="m155.394531 95.394531-30 30c-5.859375 5.855469-5.859375 15.351563 0 21.210938 5.855469 5.859375 15.355469 5.859375 21.210938 0l30-30c5.859375-5.859375 5.859375-15.355469 0-21.210938-5.855469-5.859375-15.355469-5.859375-21.210938 0zm0 0"
                                        data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                        fill="#ff3a6d" />
                                    <path
                                        d="m356.605469 95.394531c-5.855469-5.859375-15.355469-5.859375-21.210938 0-5.859375 5.855469-5.859375 15.351563 0 21.210938l30 30c5.855469 5.859375 15.351563 5.859375 21.210938 0s5.859375-15.355469 0-21.210938zm0 0"
                                        data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                        fill="#ff3a6d" />
                                </g>
                            </svg>
                            <h6>Western Cuisine</h6>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 category-responsive">
                    <a href="menu/menu-fusion" class="category-wrap">
                        <div class="category-block">
                            <svg class="category-img" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_2" x="0px" y="0px"
                                viewBox="0 0 512 512" style="enable-background:new 0 0 60 60;" xml:space="preserve"
                                width="512px" height="512px">
                                <g>
                                    <g>
                                        <path
                                            d="m0 436c0 8.285156 6.714844 15 15 15h105v46c0 8.285156 6.714844 15 15 15s15-6.714844 15-15v-46h105c8.285156 0 15-6.714844 15-15s-6.714844-15-15-15h-47.578125c1.664063-4.695312 2.578125-9.742188 2.578125-15 0-5.851562-1.121094-11.445312-3.164062-16.578125 19.089843-5.210937 33.164062-22.703125 33.164062-43.421875 0-5.851562-1.121094-11.445312-3.164062-16.578125 19.089843-5.210937 33.164062-22.703125 33.164062-43.421875 0-11.515625-4.355469-22.03125-11.496094-30 7.144532-7.96875 11.496094-18.484375 11.496094-30s-4.355469-22.03125-11.496094-30c7.144532-7.96875 11.496094-18.484375 11.496094-30 0-24.8125-20.1875-45-45-45h-47.578125c1.664063-4.695312 2.578125-9.742188 2.578125-15 0-19.554688-12.539062-36.226562-30-42.421875v-48.578125c0-8.285156-6.714844-15-15-15s-15 6.714844-15 15v48.578125c-17.460938 6.195313-30 22.867187-30 42.421875 0 5.257812.914062 10.304688 2.578125 15h-47.578125c-24.8125 0-45 20.1875-45 45 0 11.515625 4.355469 22.03125 11.496094 30-7.140625 7.96875-11.496094 18.484375-11.496094 30s4.355469 22.03125 11.496094 30c-7.140625 7.96875-11.496094 18.484375-11.496094 30 0 20.722656 14.085938 38.210938 33.179688 43.414062-2.042969 5.136719-3.179688 10.730469-3.179688 16.585938 0 20.71875 14.074219 38.210938 33.164062 43.421875-2.042968 5.132813-3.164062 10.726563-3.164062 16.578125 0 5.257812.914062 10.304688 2.578125 15h-47.578125c-8.285156 0-15 6.714844-15 15zm120-330c0-8.269531 6.730469-15 15-15s15 6.730469 15 15-6.730469 15-15 15-15-6.730469-15-15zm-30 300c0-8.269531 6.730469-15 15-15 8.285156 0 15-6.714844 15-15s-6.714844-15-15-15h-30c-8.269531 0-15-6.730469-15-15s6.730469-15 15-15h60c8.285156 0 15-6.714844 15-15s-6.714844-15-15-15h-90c-8.269531 0-15-6.730469-15-15s6.730469-15 15-15h30c8.285156 0 15-6.714844 15-15s-6.714844-15-15-15h-30c-8.269531 0-15-6.730469-15-15s6.730469-15 15-15h90c8.285156 0 15-6.714844 15-15s-6.714844-15-15-15h-90c-8.269531 0-15-6.730469-15-15s6.730469-15 15-15h180c8.269531 0 15 6.730469 15 15s-6.730469 15-15 15h-30c-8.285156 0-15 6.714844-15 15s6.714844 15 15 15h30c8.269531 0 15 6.730469 15 15s-6.730469 15-15 15h-90c-8.285156 0-15 6.714844-15 15s6.714844 15 15 15h90c8.269531 0 15 6.730469 15 15s-6.730469 15-15 15h-30c-8.285156 0-15 6.714844-15 15s6.714844 15 15 15c8.269531 0 15 6.730469 15 15s-6.730469 15-15 15h-30c-8.285156 0-15 6.714844-15 15s6.714844 15 15 15c8.269531 0 15 6.730469 15 15s-6.730469 15-15 15h-60c-8.269531 0-15-6.730469-15-15zm0 0"
                                            data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                            fill="#ff3a6d" />
                                        <path
                                            d="m385.605469 4.394531c-5.855469-5.859375-15.355469-5.859375-21.210938 0-21.859375 21.855469-34.394531 52.484375-34.394531 84.03125v242.574219h-15c-8.285156 0-15 6.714844-15 15s6.714844 15 15 15h15v106c0 24.8125 20.1875 45 45 45s45-20.1875 45-45v-106h15c8.285156 0 15-6.714844 15-15s-6.714844-15-15-15h-15v-242.574219c0-31.546875-12.535156-62.175781-34.394531-84.03125zm-10.605469 34.175781c9.652344 14.488282 15 31.957032 15 49.855469v242.574219h-30v-242.574219c0-17.898437 5.347656-35.363281 15-49.855469zm0 443.429688c-8.269531 0-15-6.730469-15-15v-106h30v106c0 8.269531-6.730469 15-15 15zm0 0"
                                            data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                            fill="#ff3a6d" />
                                    </g>
                                </g>
                            </svg>
                            <h6>Fusion Cuisine</h6>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 category-responsive">
                    <a href="menu/menu-vegetarian" class="category-wrap">
                        <div class="category-block">
                            <svg class="category-img" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_3" x="0px" y="0px"
                                viewBox="0 0 512 512" style="enable-background:new 0 0 511.988 511.988;"
                                xml:space="preserve" width="512px" height="512px">
                                <g>
                                    <path
                                        d="M503.45,324.28H8.55c-4.71,0-8.533,3.814-8.533,8.533c0,98.801,80.379,179.188,179.188,179.188h153.59
                                        c98.801,0,179.188-80.387,179.188-179.188C511.983,328.094,508.169,324.28,503.45,324.28z M332.795,494.935h-153.59
                                        c-86.531,0-157.447-68.143-161.901-153.59h477.391C490.242,426.792,419.326,494.935,332.795,494.935z"
                                        data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                        fill="#ff3a6d" />
                                    <path d="M435.223,119.545c0-0.623-0.009-1.246-0.068-2.193c-1.314-14.147-11.041-25.769-23.883-30.129l9.659-9.659
                                        c16.75-16.408,18.431-42.655,3.771-61.188c-15.7-19.079-43.995-21.793-63.066-6.101c-1.084,0.896-2.133,1.843-3.183,2.893
                                        l-10.495,10.649c-4.403-12.774-16.05-22.433-30.402-23.764c-18.9-1.032-34.899,13.473-35.914,32.262
                                        c-0.034,0.623-0.043,1.246-0.043,1.86v13.081c-5.017-2.91-10.828-4.582-17.031-4.591c-0.614,0-1.246,0.017-2.193,0.068
                                        c-18.243,1.698-32.279,17.373-31.972,35.547v11.605c-5.12-2.961-10.956-4.548-17.031-4.557c-0.614,0-1.237,0.017-2.184,0.068
                                        c-18.252,1.698-32.288,17.373-31.981,35.548v126.541c0,4.719,3.823,8.533,8.533,8.533h145.057
                                        c18.823,0,34.131-15.308,34.122-34.114c0-6.212-1.664-12.04-4.582-17.065h11.528c18.328,0.503,34.003-13.738,35.718-32.314
                                        c0.367-6.946-1.374-13.516-4.667-19.096c7.662-0.853,14.753-4.241,20.282-9.753C431.647,137.242,435.214,128.675,435.223,119.545z
                                        M413.148,131.593c-3.225,3.208-7.5,4.975-12.065,4.975c-0.009,0-0.017,0-0.026,0h-25.598c-4.719,0-8.533,3.823-8.533,8.533
                                        s3.814,8.533,8.533,8.533l0.939,0.026c9.403,0.503,16.639,8.558,16.161,17.62c-0.87,9.403-8.848,16.682-18.55,16.485h-41.213
                                        c-4.719,0-8.533,3.823-8.533,8.533s3.814,8.533,8.533,8.533c9.412,0,17.066,7.654,17.066,17.066s-7.654,17.066-17.066,17.066
                                        H196.271V120.799c-0.162-9.446,7.091-17.526,16.161-18.38l0.93-0.026c9.395,0.008,17.031,7.654,17.04,17.04v0.06
                                        c0,4.71,3.814,8.533,8.524,8.533c0.009,0,0.009,0,0.009,0c4.71,0,8.524-3.814,8.533-8.524v-0.008V78.135
                                        c-0.162-9.446,7.091-17.526,16.161-18.38l0.922-0.026c9.403,0.017,17.04,7.662,17.049,17.057v0.051
                                        c0,4.71,3.814,8.533,8.524,8.533c0.009,0,0.009,0,0.009,0c4.71,0,8.524-3.814,8.533-8.524v-0.009V34.174l0.026-0.947
                                        c0.495-9.395,8.362-16.63,17.612-16.161c9.42,0.879,16.664,8.959,16.485,18.567v7.082c0,3.456,2.091,6.579,5.299,7.893
                                        c3.183,1.314,6.886,0.563,9.309-1.911l23.149-23.491c0.631-0.623,1.28-1.212,1.954-1.766c11.809-9.71,29.31-8.021,38.935,3.652
                                        c9.113,11.536,8.063,27.987-2.5,38.338l-22.441,22.441c-2.44,2.44-3.174,6.109-1.852,9.301c1.314,3.183,4.437,5.265,7.884,5.265
                                        h7.082c0.179,0,0.307,0,0.452,0c9.318,0,17.236,7.185,18.072,16.161l0.026,0.939C418.148,124.093,416.374,128.376,413.148,131.593
                                        z" data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                        fill="#ff3a6d" />
                                    <g>

                                        <rect x="87.075" y="170.67"
                                            transform="matrix(0.7071 -0.7071 0.7071 0.7071 -51.7312 233.5161)"
                                            width="337.877" height="17.065" data-original="#000000" class="active-path"
                                            data-old_color="#ff3a6d" fill="#ff3a6d" />
                                    </g>
                                    <g>
                                        <rect x="315.713" y="68.348" width="17.066" height="42.664"
                                            data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                            fill="#ff3a6d" />
                                    </g>
                                    <g>
                                        <rect x="264.516" y="111.012" width="17.066" height="51.197"
                                            data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                            fill="#ff3a6d" />
                                    </g>
                                    <g>
                                        <rect x="213.319" y="153.59" width="17.066" height="59.729"
                                            data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                            fill="#ff3a6d" />
                                    </g>
                                    <g>
                                        <rect x="324.245" y="102.479" width="42.664" height="17.065"
                                            data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                            fill="#ff3a6d" />
                                    </g>
                                    <g>
                                        <rect x="273.049" y="153.59" width="51.197" height="17.065"
                                            data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                            fill="#ff3a6d" />
                                    </g>
                                    <g>
                                        <rect x="221.852" y="204.787" width="59.729" height="17.066"
                                            data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                            fill="#ff3a6d" />
                                    </g>
                                    <path
                                        d="M159.281,39.473c-0.008-0.017-0.026-0.034-0.034-0.051c-12.04-18.03-36.512-22.928-54.533-10.888
                                        c-0.563,0.367-1.118,0.759-1.749,1.229l-3.072,2.338l-2.952-2.125C81.326,15.411,56.777,16,41.913,31.427
                                        c-7.278,7.543-11.186,17.475-10.99,27.962c0.196,10.487,4.454,20.265,11.989,27.535c2.193,2.116,4.633,3.976,7.261,5.529
                                        l7.185,5.615v4.369c0,23.525,19.139,42.664,42.664,42.664s42.664-19.148,42.655-42.672v-4.369l7.552-5.896
                                        C166.568,79.765,170.536,56.616,159.281,39.473z M139.818,78.647l-10.922,8.533c-2.065,1.613-3.277,4.096-3.277,6.724v8.533
                                        c0,14.113-11.485,25.598-25.598,25.598c-14.113,0-25.598-11.485-25.598-25.598v-8.533c0-2.628-1.203-5.111-3.277-6.724
                                        l-10.922-8.533c-0.324-0.256-0.674-0.486-1.032-0.691c-1.604-0.913-3.089-2.022-4.42-3.311c-4.266-4.113-6.673-9.642-6.784-15.564
                                        c-0.111-5.922,2.099-11.536,6.212-15.803c4.343-4.505,10.154-6.775,15.973-6.775c5.546,0,11.101,2.056,15.402,6.212
                                        c0.29,0.273,0.597,0.538,0.93,0.776l8.533,6.144c3.038,2.193,7.159,2.142,10.146-0.128l8.994-6.766
                                        c4.949-3.311,10.879-4.471,16.716-3.319c5.819,1.16,10.845,4.514,14.147,9.446C151.372,58.544,149.119,71.582,139.818,78.647z"
                                        data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                        fill="#ff3a6d" />
                                    <g>
                                        <rect x="187.721" y="8.533" width="17.066" height="17.065"
                                            data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                            fill="#ff3a6d" />
                                    </g>
                                    <g>
                                        <rect x="238.918" y="281.582" width="17.065" height="17.065"
                                            data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                            fill="#ff3a6d" />
                                    </g>
                                    <path d="M460.787,51.24v17.066c9.412,0,17.066,7.654,17.066,17.065s-7.654,17.066-17.066,17.066v17.065
			                                c18.823,0,34.131-15.308,34.131-34.131C494.918,66.548,479.61,51.24,460.787,51.24z"
                                        data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                        fill="#ff3a6d" />
                                    <g>
                                        <rect x="17.066" y="128.077" width="17.065" height="17.066"
                                            data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                            fill="#ff3a6d" />
                                    </g>
                                    <g>
                                        <rect x="0.017" y="93.946" width="17.065" height="17.066"
                                            data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                            fill="#ff3a6d" />
                                    </g>
                                    <path
                                        d="M332.795,273.083c-18.823,0-34.131,15.308-34.131,34.131h17.066c0-9.412,7.654-17.066,17.065-17.066
			                            c9.412,0,17.066,7.654,17.066,17.066h17.065C366.926,288.391,351.618,273.083,332.795,273.083z"
                                        data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                        fill="#ff3a6d" />
                                    <path d="M102.411,196.288h-1.075C97.53,181.586,84.159,170.69,68.28,170.69s-29.259,10.896-33.056,25.598h-1.075
                                        c-18.823,0-34.131,15.308-34.131,34.131c0,18.823,15.308,34.131,34.131,34.131h68.262c18.823,0,34.131-15.308,34.131-34.131
                                        C136.542,211.596,121.234,196.288,102.411,196.288z M102.411,247.493H34.148c-9.412,0-17.066-7.654-17.066-17.065
                                        c0-9.412,7.654-17.066,17.066-17.066h8.533c4.71,0,8.533-3.823,8.533-8.533c0-9.412,7.654-17.065,17.066-17.065
                                        s17.066,7.654,17.066,17.065c0,4.71,3.823,8.533,8.533,8.533h8.533c9.412,0,17.066,7.654,17.066,17.066
                                        C119.476,239.84,111.822,247.493,102.411,247.493z" data-original="#000000"
                                        class="active-path" data-old_color="#ff3a6d" fill="#ff3a6d" />
                                    <path d="M85.345,247.485H51.214c-4.71,0-8.533,3.823-8.533,8.533v34.131c0,4.719,3.823,8.533,8.533,8.533h34.131
                                        c4.71,0,8.533-3.814,8.533-8.533v-34.131C93.878,251.308,90.055,247.485,85.345,247.485z M76.812,281.616H59.747v-17.065h17.066
                                        V281.616z" data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                        fill="#ff3a6d" />
                                    <path
                                        d="M452.254,221.887c-14.113,0-25.598,11.485-25.598,25.598s11.485,25.598,25.598,25.598
                                        c14.113,0,25.598-11.485,25.598-25.598S466.367,221.887,452.254,221.887z M452.254,256.026c-4.71,0-8.533-3.831-8.533-8.533
                                        c0-4.702,3.823-8.533,8.533-8.533s8.533,3.823,8.533,8.533C460.787,252.204,456.964,256.026,452.254,256.026z"
                                        data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                        fill="#ff3a6d" />
                                    <path
                                        d="M452.254,187.756c-32.928,0-59.729,26.793-59.729,59.729s26.801,59.729,59.729,59.729
                                        c32.928,0,59.729-26.793,59.729-59.729S485.182,187.756,452.254,187.756z M452.254,290.157c-23.525,0-42.664-19.147-42.664-42.664
                                        c0-23.525,19.139-42.664,42.664-42.664c23.525,0,42.664,19.139,42.664,42.664C494.918,271.018,475.779,290.157,452.254,290.157z"
                                        data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                        fill="#ff3a6d" />
                                </g>
                            </svg>
                            <h6>Vegetarian Cuisine</h6>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 category-responsive">
                    <a href="menu/menu-desserts" class="category-wrap">
                        <div class="category-block">
                            <svg class="category-img" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_4" x="0px" y="0px"
                                viewBox="0 0 512 512" style="enable-background:new 0 0 33 33;" xml:space="preserve"
                                width="512px" height="512px">
                                <g>
                                    <path
                                        d="m419.433594 270h15.566406c8.285156 0 15-6.714844 15-15v-30c0-19.839844-12.910156-36.707031-30.765625-42.679688-5-41.339843-34.113281-75.359374-72.820313-87.519531l69.195313-69.195312c5.855469-5.855469 5.855469-15.355469 0-21.210938-5.859375-5.859375-15.355469-5.859375-21.214844 0l-69.191406 69.191407c-13.382813-42.601563-53.242187-73.585938-100.203125-73.585938-53.128906 0-97.164062 39.667969-104.054688 90.945312-47.132812 6.332032-84.453124 44.054688-90.175781 91.375-17.859375 5.972657-30.769531 22.839844-30.769531 42.679688v30c0 8.285156 6.714844 15 15 15h15.566406c6.269532 83.464844 64.203125 150.484375 136.964844 173.253906l-43.136719 43.140625c-4.289062 4.289063-5.574219 10.742188-3.253906 16.347657 2.324219 5.605468 7.792969 9.257812 13.859375 9.257812h180c6.066406 0 11.535156-3.652344 13.859375-9.257812 2.320313-5.605469 1.035156-12.058594-3.253906-16.347657l-43.140625-43.140625c72.738281-22.761718 130.699218-89.761718 136.96875-173.253906zm.566406-30h-60v-15c0-8.269531 6.730469-15 15-15h30c8.273438 0 15 6.730469 15 15zm-31.507812-60h-13.492188c-24.8125 0-45 20.1875-45 45v60c0 8.273438-6.726562 15-15 15-8.269531 0-15-6.726562-15-15v-60c0-24.8125-20.1875-45-45-45h-13.492188c6.96875-34.1875 37.269532-59.996094 73.484376-60h.003906.007812c36.21875.003906 66.519532 25.808594 73.488282 60zm-163.492188-150c36.664062 0 67.246094 26.449219 73.71875 61.265625-31.265625 4.886719-58 23.617187-73.71875 49.707031-15.71875-26.089844-42.453125-44.820312-73.714844-49.707031 6.472656-34.816406 37.054688-61.265625 73.714844-61.265625zm-90 90c36.222656 0 66.523438 25.808594 73.492188 60h-146.984376c6.972657-34.191406 37.273438-60 73.492188-60zm-105 105c0-8.269531 6.730469-15 15-15h210c8.273438 0 15 6.730469 15 15v15h-240zm248.789062 257h-107.574218l31.3125-31.3125c7.410156.863281 14.910156 1.3125 22.472656 1.3125 7.566406 0 15.066406-.449219 22.476562-1.3125zm-53.789062-60c-85.984375 0-156.804688-66.917969-164.328125-152h209.328125v15c0 24.8125 20.1875 45 45 45s45-20.1875 45-45v-15.007812h29.328125c-7.519531 85.082031-78.339844 152.007812-164.328125 152.007812zm0 0"
                                        data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                        fill="#ff3a6d" />
                            </svg>
                            <h6>Desserts</h6>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 category-responsive">
                    <a href="menu/menu-drinks" class="category-wrap">
                        <div class="category-block">
                            <svg class="category-img" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_5" x="0px" y="0px"
                                viewBox="0 0 350 512" style="enable-background:new 0 0 61.168 61.168;"
                                xml:space="preserve" width="512px" height="512px">
                                <g>
                                    <g>
                                        <path
                                            d="m287.5625 171.664062c-4.863281-38.726562-26.105469-72.148437-56.425781-93.367187l2.3125-18.296875h54.550781c5.523438 0 10-4.476562 10-10v-40c0-5.523438-4.476562-10-10-10h-70.351562c-21.148438 0-39.097657 15.820312-41.746094 36.804688l-2.351563 18.609374c-6.390625-.929687-12.914062-1.414062-19.550781-1.414062-68.234375 0-125.183594 50.96875-133.5625 117.664062-11.441406 1.03125-20.4375 10.667969-20.4375 22.371094v31.359375c0 5.523438 4.476562 10 10 10h10.941406l35.425782 267.917969c.660156 4.972656 4.898437 8.6875 9.914062 8.6875h175.777344c5.015625 0 9.253906-3.714844 9.914062-8.6875l35.425782-267.917969h10.601562c5.523438 0 10-4.476562 10-10v-31.359375c0-11.707031-8.996094-21.34375-20.4375-22.371094zm-20.199219-.097656h-48.015625l8.882813-70.28125c20.585937 17.5 34.945312 42.167969 39.132812 70.28125zm-76.757812-91.582031c6.652343 2.242187 13.039062 5.078125 19.089843 8.449219l-10.503906 83.132812h-20.160156zm5.136719-40.675781c1.394531-11.007813 10.808593-19.308594 21.90625-19.308594h60.351562v20h-53.367188c-5.039062 0-9.289062 3.746094-9.921874 8.746094l-2.34375 18.550781c-6.164063-2.96875-12.582032-5.484375-19.214844-7.496094zm-41.742188 34.691406c5.785156 0 11.476562.433594 17.039062 1.265625l-12.167968 96.300781h-17.203125c-5.523438 0-10 4.480469-10 10 0 5.523438 4.476562 10 10 10h136.742187.011719.015625 7.097656c1.359375 0 2.464844 1.109375 2.464844 2.46875v21.359375h-268v-21.359375c0-1.359375 1.105469-2.46875 2.464844-2.46875h39.203125c5.523437 0 10-4.476562 10-10 0-5.519531-4.476563-10-10-10h-21.03125c8.265625-55.496094 56.152343-97.566406 113.363281-97.566406zm28.757812 227.574219c-6.738281-3-13.019531-7.046875-18.628906-12.082031l6.835938-54.097657h20.15625zm-21.535156 10.917969c5.9375 3.960937 12.292969 7.171874 18.941406 9.621093l-14.8125 117.21875-19.84375-2.507812zm-10.417968-77.097657-4.929688 39.003907c-14.613281-9.394532-31.613281-14.453126-49.402344-14.453126-18.085937 0-35.363281 5.21875-50.136718 14.917969l-5.21875-39.46875zm82.488281 256.605469h-158.246094l-25.699219-194.34375c13.054688-11.445312 29.601563-17.714844 47.125-17.714844 17.253906 0 33.566406 6.082032 46.527344 17.203125l-18.589844 147.09375c-.691406 5.480469 3.1875 10.480469 8.667969 11.175781l39.683594 5.015626c.417969.050781.839843.078124 1.253906.078124 2.210937 0 4.367187-.730468 6.128906-2.097656 2.097657-1.625 3.460938-4.019531 3.792969-6.648437l15.777344-124.835938c4 .527344 8.058594.820313 12.164062.820313 15.898438 0 31.167969-4.046875 44.667969-11.613282zm26.839843-202.960938c-13.222656 12.085938-30.226562 18.707032-48.253906 18.707032-3.257812 0-6.480468-.234375-9.65625-.660156l9.058594-71.691407h55.945312zm0 0"
                                            data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                            fill="#ff3a6d" />
                                        <path
                                            d="m101.671875 191.570312c2.628906 0 5.207031-1.070312 7.066406-2.929687 1.863281-1.859375 2.933594-4.441406 2.933594-7.070313 0-2.628906-1.070313-5.210937-2.933594-7.070312-1.859375-1.871094-4.4375-2.929688-7.066406-2.929688-2.640625 0-5.210937 1.058594-7.082031 2.929688-1.859375 1.859375-2.917969 4.441406-2.917969 7.070312 0 2.628907 1.058594 5.210938 2.917969 7.070313 1.871094 1.859375 4.441406 2.929687 7.082031 2.929687zm0 0"
                                            data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                            fill="#ff3a6d" />
                                    </g>
                                </g>
                            </svg>
                            <h6>Drinks</h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!--//END CATEGORIES -->
    <!--============================= FEATURED PLACES =============================-->
    <section class="main-block light-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="styled-heading">
                        <h3>Featured Picks</h3>
                    </div>
                </div>
            </div>
            <div class="row">

                {{!-- first list of slides --}}
                <div id="slides1" class="carousel slide col-md-4 featured-responsive" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slides1" data-slide-to="0" class="active"></li>
                        <li data-target="#slides1" data-slide-to="1"></li>
                        <li data-target="#slides1" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        {{#each itemsList1}}
                        <div class="carousel-item active">
                            <div class="featured-place-wrap">
                                <a href="detail.html">
                                    <img src="img/featured1.jpg" class="img-fluid" alt="#">
                                    <span class="featured-rating-orange">{{average_rating}}</span>
                                    <div class="featured-title-box">
                                        <h6>{{name}}</h6>
                                        <p>Restaurant </p> <span> </span>
                                        <p>{{total_rating}} Reviews</p> <span>  </span>
                                        <p1><span>$</span>{{price}}</p1>
                                        <ul>
                                            <li><span class="icon-location-pin"></span>
                                                <p>1301 Avenue, Brooklyn, NY 11230</p>
                                            </li>
                                            <li><span class="icon-screen-smartphone"></span>
                                                <p>+44 20 7336 8898</p>
                                            </li>
                                            <li><span class="icon-link"></span>
                                                <p>https://burgerandlobster.com</p>
                                            </li>

                                        </ul>
                                        <div class="bottom-icons">
                                            <div class="closed-now">CLOSED NOW</div>
                                            <span class="ti-heart"></span>
                                            <span class="ti-bookmark"></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {{/each}}
                        {{#each itemsList2}}
                        <div class="carousel-item">
                            <div class="featured-place-wrap">
                                <a href="detail.html">
                                    <img src="img/featured3.jpg" class="img-fluid" alt="#">
                                    <span class="featured-rating">{{average_rating}}</span>
                                    <div class="featured-title-box">
                                        <h6>{{name}}</h6>
                                        <p>Restaurant </p> <span> </span>
                                        <p>{{total_rating}} Reviews</p> <span>  </span>
                                        <p1><span>$</span>{{price}}</p1>
                                        <ul>
                                            <li><span class="icon-location-pin"></span>
                                                <p>1301 Avenue, Brooklyn, NY 11230</p>
                                            </li>
                                            <li><span class="icon-screen-smartphone"></span>
                                                <p>+44 20 7336 8898</p>
                                            </li>
                                            <li><span class="icon-link"></span>
                                                <p>https://burgerandlobster.com</p>
                                            </li>
                                        </ul>
                                        <div class="bottom-icons">
                                            <div class="open-now">OPEN NOW</div>
                                            <span class="ti-heart"></span>
                                            <span class="ti-bookmark"></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {{/each}}
                        {{!-- <div class="carousel-item active">
                            <div class="featured-place-wrap">
                                <a href="detail.html">
                                    <img src="img/featured1.jpg" class="img-fluid" alt="#">
                                    <span class="featured-rating-orange">6.5</span>
                                    <div class="featured-title-box">
                                        <h6>Porridge</h6>
                                        <p>Restaurant </p> <span> </span>
                                        <p>3 Reviews</p> <span>  </span>
                                        <p><span>$$$</span>$$</p>
                                        <ul>
                                            <li><span class="icon-location-pin"></span>
                                                <p>1301 Avenue, Brooklyn, NY 11230</p>
                                            </li>
                                            <li><span class="icon-screen-smartphone"></span>
                                                <p>+44 20 7336 8898</p>
                                            </li>
                                            <li><span class="icon-link"></span>
                                                <p>https://burgerandlobster.com</p>
                                            </li>

                                        </ul>
                                        <div class="bottom-icons">
                                            <div class="closed-now">CLOSED NOW</div>
                                            <span class="ti-heart"></span>
                                            <span class="ti-bookmark"></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="featured-place-wrap">
                                <a href="detail.html">
                                    <img src="img/featured3.jpg" class="img-fluid" alt="#">
                                    <span class="featured-rating">3.2</span>
                                    <div class="featured-title-box">
                                        <h6>Chicken Rice</h6>
                                        <p>Restaurant </p> <span> </span>
                                        <p>3 Reviews</p> <span>  </span>
                                        <p><span>$$$</span>$$</p>
                                        <ul>
                                            <li><span class="icon-location-pin"></span>
                                                <p>1301 Avenue, Brooklyn, NY 11230</p>
                                            </li>
                                            <li><span class="icon-screen-smartphone"></span>
                                                <p>+44 20 7336 8898</p>
                                            </li>
                                            <li><span class="icon-link"></span>
                                                <p>https://burgerandlobster.com</p>
                                            </li>
                                        </ul>
                                        <div class="bottom-icons">
                                            <div class="open-now">OPEN NOW</div>
                                            <span class="ti-heart"></span>
                                            <span class="ti-bookmark"></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="featured-place-wrap">
                                <a href="detail.html">
                                    <img src="img/featured2.jpg" class="img-fluid" alt="#">
                                    <span class="featured-rating-green">9.5</span>
                                    <div class="featured-title-box">
                                        <h6>Duck Rice</h6>
                                        <p>Restaurant </p> <span> </span>
                                        <p>3 Reviews</p> <span>  </span>
                                        <p><span>$$$</span>$$</p>
                                        <ul>
                                            <li><span class="icon-location-pin"></span>
                                                <p>1301 Avenue, Brooklyn, NY 11230</p>
                                            </li>
                                            <li><span class="icon-screen-smartphone"></span>
                                                <p>+44 20 7336 8898</p>
                                            </li>
                                            <li><span class="icon-link"></span>
                                                <p>https://burgerandlobster.com</p>
                                            </li>
                                        </ul>
                                        <div class="bottom-icons">
                                            <div class="closed-now">CLOSED NOW</div>
                                            <span class="ti-heart"></span>
                                            <span class="ti-bookmark"></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div> --}}
                    </div>
                    <a class="carousel-control-prev" href="#slides1" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#slides1" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>


                {{!-- second list of slides --}}
                <div id="slides2" class="carousel slide col-md-4 featured-responsive" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slides2" data-slide-to="0" class="active"></li>
                        <li data-target="#slides2" data-slide-to="1"></li>
                        <li data-target="#slides2" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        {{#each itemsList3}}
                        <div class="carousel-item active">
                            <div class="featured-place-wrap">
                                <a href="detail.html">
                                    <img src="img/featured2.jpg" class="img-fluid" alt="#">
                                    <span class="featured-rating-green">{{average_rating}}</span>
                                    <div class="featured-title-box">
                                        <h6>{{name}}</h6>
                                        <p>Restaurant </p> <span> </span>
                                        <p>{{total_rating}} Reviews</p> <span>  </span>
                                        <p1><span>$</span>{{price}}</p1>
                                        <ul>
                                            <li><span class="icon-location-pin"></span>
                                                <p>1301 Avenue, Brooklyn, NY 11230</p>
                                            </li>
                                            <li><span class="icon-screen-smartphone"></span>
                                                <p>+44 20 7336 8898</p>
                                            </li>
                                            <li><span class="icon-link"></span>
                                                <p>https://burgerandlobster.com</p>
                                            </li>
                                        </ul>
                                        <div class="bottom-icons">
                                            <div class="closed-now">CLOSED NOW</div>
                                            <span class="ti-heart"></span>
                                            <span class="ti-bookmark"></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {{/each}}
                        {{#each itemsList4}}
                        <div class="carousel-item">
                            <div class="featured-place-wrap">
                                <a href="detail.html">
                                    <img src="img/featured1.jpg" class="img-fluid" alt="#">
                                    <span class="featured-rating-orange">{{average_rating}}</span>
                                    <div class="featured-title-box">
                                        <h6>{{name}}</h6>
                                        <p>Restaurant </p> <span> </span>
                                        <p>{{total_rating}} Reviews</p> <span>  </span>
                                        <p1><span>$</span>{{price}}</p1>
                                        <ul>
                                            <li><span class="icon-location-pin"></span>
                                                <p>1301 Avenue, Brooklyn, NY 11230</p>
                                            </li>
                                            <li><span class="icon-screen-smartphone"></span>
                                                <p>+44 20 7336 8898</p>
                                            </li>
                                            <li><span class="icon-link"></span>
                                                <p>https://burgerandlobster.com</p>
                                            </li>
                                        </ul>
                                        <div class="bottom-icons">
                                            <div class="closed-now">CLOSED NOW</div>
                                            <span class="ti-heart"></span>
                                            <span class="ti-bookmark"></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {{/each}}
                        {{!-- <div class="carousel-item active">
                            <div class="featured-place-wrap">
                                <a href="detail.html">
                                    <img src="img/featured2.jpg" class="img-fluid" alt="#">
                                    <span class="featured-rating-green">{{items.average_rating}}</span>
                                    <div class="featured-title-box">
                                        <h6>Mee Rebus</h6>
                                        <p>Restaurant </p> <span> </span>
                                        <p>3 Reviews</p> <span>  </span>
                                        <p><span>$$$</span>$$</p>
                                        <ul>
                                            <li><span class="icon-location-pin"></span>
                                                <p>1301 Avenue, Brooklyn, NY 11230</p>
                                            </li>
                                            <li><span class="icon-screen-smartphone"></span>
                                                <p>+44 20 7336 8898</p>
                                            </li>
                                            <li><span class="icon-link"></span>
                                                <p>https://burgerandlobster.com</p>
                                            </li>
                                        </ul>
                                        <div class="bottom-icons">
                                            <div class="closed-now">CLOSED NOW</div>
                                            <span class="ti-heart"></span>
                                            <span class="ti-bookmark"></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="featured-place-wrap">
                                <a href="detail.html">
                                    <img src="img/featured1.jpg" class="img-fluid" alt="#">
                                    <span class="featured-rating-orange">6.5</span>
                                    <div class="featured-title-box">
                                        <h6>Mee Siam</h6>
                                        <p>Restaurant </p> <span> </span>
                                        <p>3 Reviews</p> <span>  </span>
                                        <p><span>$$$</span>$$</p>
                                        <ul>
                                            <li><span class="icon-location-pin"></span>
                                                <p>1301 Avenue, Brooklyn, NY 11230</p>
                                            </li>
                                            <li><span class="icon-screen-smartphone"></span>
                                                <p>+44 20 7336 8898</p>
                                            </li>
                                            <li><span class="icon-link"></span>
                                                <p>https://burgerandlobster.com</p>
                                            </li>
                                        </ul>
                                        <div class="bottom-icons">
                                            <div class="closed-now">CLOSED NOW</div>
                                            <span class="ti-heart"></span>
                                            <span class="ti-bookmark"></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="featured-place-wrap">
                                <a href="detail.html">
                                    <img src="img/featured3.jpg" class="img-fluid" alt="#">
                                    <span class="featured-rating">3.2</span>
                                    <div class="featured-title-box">
                                        <h6>Mee Soto</h6>
                                        <p>Restaurant </p> <span> </span>
                                        <p>3 Reviews</p> <span>  </span>
                                        <p><span>$$$</span>$$</p>
                                        <ul>
                                            <li><span class="icon-location-pin"></span>
                                                <p>1301 Avenue, Brooklyn, NY 11230</p>
                                            </li>
                                            <li><span class="icon-screen-smartphone"></span>
                                                <p>+44 20 7336 8898</p>
                                            </li>
                                            <li><span class="icon-link"></span>
                                                <p>https://burgerandlobster.com</p>
                                            </li>
                                        </ul>
                                        <div class="bottom-icons">
                                            <div class="open-now">OPEN NOW</div>
                                            <span class="ti-heart"></span>
                                            <span class="ti-bookmark"></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div> --}}
                    </div>
                    <a class="carousel-control-prev" href="#slides2" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#slides2" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>


                {{!-- third list of slides --}}
                <div id="slides3" class="carousel slide col-md-4 featured-responsive" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slides3" data-slide-to="0" class="active"></li>
                        <li data-target="#slides3" data-slide-to="1"></li>
                        <li data-target="#slides3" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        {{#each itemsList5}}
                        <div class="carousel-item active">
                            <div class="featured-place-wrap">
                                <a href="detail.html">
                                    <img src="img/featured3.jpg" class="img-fluid" alt="#">
                                    <span class="featured-rating">{{average_rating}}</span>
                                    <div class="featured-title-box">
                                        <h6>{{name}}</h6>
                                        <p>Restaurant </p> <span> </span>
                                        <p>{{total_rating}} Reviews</p> <span>  </span>
                                        <p1><span>$</span>{{price}}</p1>
                                        <ul>
                                            <li><span class="icon-location-pin"></span>
                                                <p>1301 Avenue, Brooklyn, NY 11230</p>
                                            </li>
                                            <li><span class="icon-screen-smartphone"></span>
                                                <p>+44 20 7336 8898</p>
                                            </li>
                                            <li><span class="icon-link"></span>
                                                <p>https://burgerandlobster.com</p>
                                            </li>
                                        </ul>
                                        <div class="bottom-icons">
                                            <div class="open-now">OPEN NOW</div>
                                            <span class="ti-heart"></span>
                                            <span class="ti-bookmark"></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {{/each}}
                        {{#each itemsList6}}
                        <div class="carousel-item">
                            <div class="featured-place-wrap">
                                <a href="detail.html">
                                    <img src="img/featured2.jpg" class="img-fluid" alt="#">
                                    <span class="featured-rating-green">{{average_rating}}</span>
                                    <div class="featured-title-box">
                                        <h6>{{name}}</h6>
                                        <p>Restaurant </p> <span> </span>
                                        <p>{{total_rating}} Reviews</p> <span>  </span>
                                        <p1><span>$</span>{{price}}</p1>
                                        <ul>
                                            <li><span class="icon-location-pin"></span>
                                                <p>1301 Avenue, Brooklyn, NY 11230</p>
                                            </li>
                                            <li><span class="icon-screen-smartphone"></span>
                                                <p>+44 20 7336 8898</p>
                                            </li>
                                            <li><span class="icon-link"></span>
                                                <p>https://burgerandlobster.com</p>
                                            </li>
                                        </ul>
                                        <div class="bottom-icons">
                                            <div class="closed-now">CLOSED NOW</div>
                                            <span class="ti-heart"></span>
                                            <span class="ti-bookmark"></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {{/each}}
                        {{!-- <div class="carousel-item active">
                            <div class="featured-place-wrap">
                                <a href="detail.html">
                                    <img src="img/featured3.jpg" class="img-fluid" alt="#">
                                    <span class="featured-rating">3.2</span>
                                    <div class="featured-title-box">
                                        <h6>Nasi Lemak</h6>
                                        <p>Restaurant </p> <span> </span>
                                        <p>3 Reviews</p> <span>  </span>
                                        <p><span>$$$</span>$$</p>
                                        <ul>
                                            <li><span class="icon-location-pin"></span>
                                                <p>1301 Avenue, Brooklyn, NY 11230</p>
                                            </li>
                                            <li><span class="icon-screen-smartphone"></span>
                                                <p>+44 20 7336 8898</p>
                                            </li>
                                            <li><span class="icon-link"></span>
                                                <p>https://burgerandlobster.com</p>
                                            </li>
                                        </ul>
                                        <div class="bottom-icons">
                                            <div class="open-now">OPEN NOW</div>
                                            <span class="ti-heart"></span>
                                            <span class="ti-bookmark"></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="featured-place-wrap">
                                <a href="detail.html">
                                    <img src="img/featured2.jpg" class="img-fluid" alt="#">
                                    <span class="featured-rating-green">9.5</span>
                                    <div class="featured-title-box">
                                        <h6>Ayam Penyet</h6>
                                        <p>Restaurant </p> <span> </span>
                                        <p>3 Reviews</p> <span>  </span>
                                        <p><span>$$$</span>$$</p>
                                        <ul>
                                            <li><span class="icon-location-pin"></span>
                                                <p>1301 Avenue, Brooklyn, NY 11230</p>
                                            </li>
                                            <li><span class="icon-screen-smartphone"></span>
                                                <p>+44 20 7336 8898</p>
                                            </li>
                                            <li><span class="icon-link"></span>
                                                <p>https://burgerandlobster.com</p>
                                            </li>
                                        </ul>
                                        <div class="bottom-icons">
                                            <div class="closed-now">CLOSED NOW</div>
                                            <span class="ti-heart"></span>
                                            <span class="ti-bookmark"></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="featured-place-wrap">
                                <a href="detail.html">
                                    <img src="img/featured1.jpg" class="img-fluid" alt="#">
                                    <span class="featured-rating-orange">6.5</span>
                                    <div class="featured-title-box">
                                        <h6>Seafood Tom Yum</h6>
                                        <p>Restaurant </p> <span> </span>
                                        <p>3 Reviews</p> <span>  </span>
                                        <p><span>$$$</span>$$</p>
                                        <ul>
                                            <li><span class="icon-location-pin"></span>
                                                <p>1301 Avenue, Brooklyn, NY 11230</p>
                                            </li>
                                            <li><span class="icon-screen-smartphone"></span>
                                                <p>+44 20 7336 8898</p>
                                            </li>
                                            <li><span class="icon-link"></span>
                                                <p>https://burgerandlobster.com</p>
                                            </li>
                                        </ul>
                                        <div class="bottom-icons">
                                            <div class="closed-now">CLOSED NOW</div>
                                            <span class="ti-heart"></span>
                                            <span class="ti-bookmark"></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div> --}}
                    </div>
                    <a class="carousel-control-prev" href="#slides3" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#slides3" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="featured-btn-wrap">
                        <a href="#" class="btn btn-danger">VIEW ALL</a>
                    </div>
                </div>
            </div>
        </div>

        </div>

    </section>
    <!--//END FEATURED PLACES -->
    {{>_footer}}

</body>

</html>