<html>
{{>_header}}

<body>
	{{>_navbar}}
	<br>

	<div class="container">
		<h3 class="text-left">Orders</h3>
		<div class="row">
			<br>
			{{#if orders}}
			{{#each orders}}
			<div class="col-sm-12 col-md-6 col-lg-4" style="padding-top: 15px;">
				<div class="card bg-light mb-3">
					<div class="card-body">
						<h5 class="card-title">Order: {{item_name}}</h5>
						<h6 class="card-subtitle mb-2">Ordered by: {{user_admin}}</h6>
					</div>
					<div class="card-body">
						<p>Item ID: {{item_id}}</p>
						<p>Time: {{createdAt}}</p>
					</div>
					<div class="card-body">
						<button type="button" class="btn btn-primary">Preparing</button>
						<button type="button" class="btn btn-outline-dark">Ready</button>
						<button type="button" class="btn btn-outline-dark">Collected</button>
					</div>
				</div>
			</div>
			{{/each}}
			{{else}}
				
			{{/if}}
		</div>
	</div>
	{{>_footer}}
</body>

</html>