<!DOCTYPE html>
<html lang="en">

<head>

    <!-- *********************************************************************************************
    Just add your CSS file down below if you need
***********************************************************************************************-->


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Colorlib">
    <meta name="description" content="#">
    <meta name="keywords" content="#">
    <!-- Page Title -->
    <title>NYP Food Portal</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/nigel/bootstrap.min.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
    <!-- Simple line Icon -->
    <link rel="stylesheet" href="../css/nigel/simple-line-icons.css">
    <!-- Themify Icon -->
    <link rel="stylesheet" href="../css/nigel/themify-icons.css">
    <!-- Hover Effects -->
    <link rel="stylesheet" href="../css/nigel/set1.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="../css/nigel/style.css">
    <!-- star CSS -->
    <link rel="stylesheet" href="../css/nigel/rating.css">
</head>

<body>
    {{>_navbar}}
    <!--============================= CATEGORIES =============================-->
    <form action="/review/saveRating/{{rating.id}}?_method=PUT" method="post">
        <input type="hidden" name="_method" value="PUT">
        <div class="container">
            {{#if ratings}}
            <br><br><br><br><br>
            <h3 class="text-primary">Food Reviews</h3>
            {{#each ratings}}
            <div class="card border-primary mb-2 w-100 mx-auto">
                <div class="card-header">
                    <h5 class="card-title">{{name}}</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-3">
                            <a href="{{posterURL}}" data-title="{{name}}" data-toggle="lightbox">
                                <img src="{{posterURL}}" alt="Poster unavailable" class="img-thumbnail img-fluid">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-9">
                            <div class="row"> {{!-- subtitles, language... --}}
                                <div class="col-sm-12 col-md-6 col-lg-4">
                                    <p class="font-italic">Ordered By</p>
                                    <p class="text-info">
                                        {{user_admin}}
                                    </p>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-4">
                                    <p class="font-italic">item_id</p>
                                    <p class="text-info">
                                        {{item_id}}
                                    </p>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-4">
                                    <p class="font-italic">Price</p>
                                    <p class="text-info">{{total_price}}</p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-12">
                                    <p class="font-italic"> Please rate your food/beverage below. (5 Stars being the
                                        best):</p>
                                </div>
                                <div class="form-group col-sm-12 col-md-6 col-lg-5 rate">
                                    <input type="radio" id="star5" name={{id}} value="5" />
                                    <label for="star5" title="Excellent">5</label>
                                    <input type="radio" id="star4" name={{id}} value="4" />
                                    <label for="star4" title="Very Good">4</label>
                                    <input type="radio" id="star3" name={{id}} value="3" />
                                    <label for="star3" title="Normal">3</label>
                                    <input type="radio" id="star2" name={{id}} value="2" />
                                    <label for="star2" title="Somewhat Poor">2</label>
                                    <input type="radio" id="star1" name={{id}} value="1" />
                                    <label for="star1" title="Very Poor">1</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}

            <button type="submit" disabled style="display: none" aria-hidden="true"></button>
            <input id="butEditVideo" class="btn btn-outline-primary" type="submit" value="Save">
            {{else}}
            <br><br><br><br><br>
            <h3>No orders made recently</h3>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            {{/if}}
        </div>
        <!--============================= FOOTER =============================-->
        {{>_footer}}
        <!--//END FOOTER -->




        <!-- jQuery, Bootstrap JS. -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!-- <script src="js/nigel/jquery-3.2.1.min.js"></script> -->
        {{! this is for nav bar fade in and out animation}}


</body>

</html>