
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
{{>_header}}
{{>_navbar}}
<head>
    
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<style>
    #hi {
        background-image: url(https://backgrounddownload.com/wp-content/uploads/2018/09/background-for-food-website-3.jpg) ;
        align-items: center;
    }
    #hii {
            width: 700px;
            height: 680px;
            background:white;
            border-radius: 10px;
            overflow: hidden;
            align-items: center;
        
            box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
            -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
            -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
            -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    }
</style>
<div id="hi">
<hr>

<div class="container bootstrap snippet" id="hii">
    </br>
    </br>
 
    <div class="row">
  		<div class="col-sm-10"><h1>Profile</h1></div>
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
              
    <form class="form" action="../user/upload" method="post">
      <div class="text-center">
          {{!-- <img id="poster" src="/img/no-image.jpg" alt="" class="border img-circle img-fluid" style="height:100px; width:100px;">
          <input type="file" id="posterUpload" name="picture" accept = "image/png,image/jpeg,image/jpg,image/gif"> --}}
        <img src="{{picture}}" class="avatar img-circle img-thumbnail" alt="avatar" name="picture">
        <h6>Upload a different photo...</h6>
        <input type="file" class="text-center center-block file-upload" name="picture">
        </div></hr><br>
    </form>
  
          
        </div><!--/col-3-->
    	<div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Particulars</a></li>
                <li class="active"><a data-toggle="tab" href="#messages">Change Password</a></li>
                <li class="active"><a data-toggle="tab" href="#tryhard">2 Factor Authentication</a></li>
                <li class="active"><a data-toggle="tab" href="#settings">Delete Account</a></li>
              </ul>

              
          <div class="tab-content">
            <div class="tab-pane active" id="home">
                <hr>
                  
                      <div class="form-group">
                    <form class="form" action="../user/profile" method="post" id="registrationForm"></form>  
                          <div class="col-xs-6">
                              <label for="full_name"><h4>Name</h4></label>
                              <input type="text" class="form-control" name="full_name" id="full_name" placeholder="Name" title="Change your name" value="{{full_name}}" required>
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="admin_no"><h4>Admin number</h4></label>
                              <input type="text" class="form-control" name="admin_no" id="admin_no" placeholder="Admin Number" title="Admin number cannot be changed" value="{{admin_no}}" readonly>
                          </div>
                      </div>
          
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="phone_no"><h4>Phone Number</h4></label>
                              <input type="text" class="form-control" name="phone_no" id="phone_no" placeholder="Phone number" title="Change your phone number" value="{{phone_no}}" required>
                          </div>
                      </div>
          
                      <div class="form-group">
                          <div class="col-xs-6">
                             <label for="telegram_id"><h4>Telegram id</h4></label>
                              <input type="text" class="form-control" name="telegram_id" id="telegram_id" placeholder="Telegram id" title="Telegram id cannot be changed" value="{{telegram_id}}" readonly>
                          </div>
                      </div>

                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="password"><h4>Password</h4></label>
                              <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password." required>
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="password2"><h4>Re-enter Password</h4></label>
                              <input type="password" class="form-control" name="confirmpassword" id="password2" placeholder="confirm password" title="reenter your password." required>
                          </div>
                      </div>
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                               	<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                      </div>
                      <div class="container">
						{{> _msg}} {{!-- views/partials/_msg.handlebars --}}
						{{> _errors}} {{!-- views/partials/_errors.handlebars --}}
						{{{body}}}
					</div>
    </form>
              
              <hr>
              
             </div><!--/tab-pane-->
             <div class="tab-pane" id="messages">
               
               <h2></h2>
               
               <hr>
                  <form class="form" action="../user/changepassword" method="post" id="registrationForm">
                      
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="old_password"><h4>Old Password</h4></label>
                              <input type="password" class="form-control" name="old_password" id="old_password" placeholder="Enter old Password" title="Enter old password">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="new_password"><h4>New Password</h4></label>
                              <input type="password" class="form-control" name="new_password" id="new_password" placeholder="new_password" title="Enter your new password">
                          </div>
                      </div>
                    <div class="form-group">
                          <div class="col-xs-6">
                            <label for="confirmpassword"><h4>Confirm new password</h4></label>
                              <input type="password" class="form-control" name="comfirmpassword" id="confirmpassword" placeholder="Re enter your new password" title="Re enter your new password">
                          </div>
                      </div>
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Change Password</button>
                               	<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                      </div>
              	</form>
               
             </div><!--/tab-pane-->
              <div class="tab-pane" id="tryhard">
            		
               	
                  <hr>
                  <form class="form" action="../user/twofa" method="post" id="registrationForm">
                      
                      
                      <div class="form-group">
                           <div class="col-xs-5">
                                <br>
                              	<button class="btn btn-lg btn-success pull-right" data-confirm="Are you sure to delete your account?" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Enable 2FA</button>
                               	
                            </div>
                      </div>
              	</form>
              </div>
               
              </div><!--/tab-pane-->
          </div><!--/tab-content-->
             <div class="tab-pane" id="settings">
            		
               	
                  <hr>
                  <form class="form" action="../user/delete" method="post" id="registrationForm">
                      
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="password"><h4>Password</h4></label>
                              <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password." value="{{password}}">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="confirmpassword"><h4>Confirm Password</h4></label>
                              <input type="password" class="form-control" name="confirmpassword" id="confirmpassword" placeholder="confirmpassword" title="Confirm your password." value="{{confirmpassword}}">
                          </div>
                      </div>
                      <div class="form-group">
                           <div class="col-xs-5">
                                <br>
                              	<button class="btn btn-lg btn-success pull-right" data-confirm="Are you sure to delete your account?" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Delete Account</button>
                               	
                            </div>
                      </div>
              	</form>
              </div>
               
              </div><!--/tab-pane-->
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->
    </div>
    <script src="js/profile.js"></script>                                              