
<u>Registered</u>
<br>
<!--<form action="../cart/MainMenu" method="GET" id=""> -->
<div class="container">
    {{#if items}}
    <div>
    <h3>Menu</h3>
    {{#each items}}
        <div class="item">
            <!--<img src="/img/chickenricemod1.jpg"/> -->
            <h2>Name: {{name}}</h2>
            <p>Price: <em>$ {{price}}</em></p>        
            <p>Category: {{cat}}</p>
            <p>Outlet id: {{outlet_id}}</p>
            <!--<p>From: Outlet {{outlet_id}}</p> -->

            <!--
            <p>Quantity: <input type="text" value="0" size="2" id="KFitem3"></p>
                <div class="quantity-operator">
                    <button  type="button" id="KFitem3_add">+</button>
                    <button  type="button" id="KFitem3_minus">-</button>
                </div>
                <br>
                <br>
                <button class="tocart" type="button">Add to cart</button>
            -->

        </div>
    {{/each}}
    </div>
    
</div>
    {{else}}
        <h3>No registered food items</h3>
    {{/if}}

<!--</form>-->

<!-- add card design from my menukoufu here for loop to create itself -->
<!--
<p class="">Name of Food item: {{name}}</p>
<p>Price: {{price}}</p>
<p>Food type: {{cat}}</p>
<p>Outled id: {{outlet_id}}</p>
-->