<!DOCTYPE html>
<html lang="en">
{{>_header}}

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/menu/menu.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
</head>

<body>
    {{>_navbar}}
    <br>
    <br>
    
    
    <div class="container">
        <div class="allfooditems">
            <br>
            <br>
            {{#if items}}
            {{#if User}}
            <span id="selectedItemCounter"></span>
            <span id="tag"><a href="#"><i class="cart"></i></a></span>
            {{/if}}

            <div class="items">

                <div class="row" id="item">
                    {{#if User}}
                    {{#each items}}
                    <div id="infoforcart" class="card bg-light md-4">
                        <div class="card-body  eachItem" style="width: 18rem;">
                            <div class="clonestuff">
                                <br>
                                <br>
                                <h5 class="card-title">Name: {{name}}</h5>
                                <input type="hidden" id="itemid_{{id}}" value="{{id}}">
                                <p>Food Category: {{cat}}</p>
                                <br>
                                <h6 class="card-subtitle price">Price: $<span id="price">{{price}}</span></h6>
                                <br>
                                <img src="/img/chickenricemod1.jpg" />
                                <br>
                                <br>
                            </div>
                            <p>Introduced on: {{createdAt}}</p>
                            <button class="btn btn-primary btn-block tocart" type="button">Add to Cart</button>
                        </div>
                    </div>
                    {{/each}}
                    {{else}}
                    <br>
                    <p>Please login to use this service !</p>
                    {{/if}}
                </div>
            </div>
            



            <div id="shoppingCart">
                <div id="cartContainer">
                    <h2>Selected Items</h2>
                    <input type="hidden" id="adminNo" value="{{User}}">
                    <div id="cartItems"></div>
                    <span id="cartTotal"></span>
                    <br>
                    <button type="button" class="btn btn-primary return">return</button>
                    <button type="button" class="btn btn-primary submitOrders" style="float: right">Submit
                        Order</button>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="/js/menudesign.js"></script>


    {{else}}
    <br>
    <h3>No Vegetarian Cuisine available at the moment !</h3>
    {{/if}}

{{>_footer}}
</body>

</html>