<html>
{{>_header}}

<body style="background-image: url('/img/item_background.jpg'); background-size: cover;">
    {{>_navbar}}
    <div class="container" style="padding-top: 6rem;">
        <div class="card card-body mx-auto">
            <h3>Edit Food Item</h3>
            <br>
            <form action="/editItem/{{item.id}}" method="post">
                <div class="row mb-2">
                    <div class="col-lg-9">
                        <div class="form-group">
                            <label for="itemName">Name of food item:</label>
                            <input type="text" class="form-control" id="itemName" name="itemName" value="{{item.name}}">
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="itemPrice">Price of food item:</label>
                                    <input type="number" step="any" min="0" class="form-control" id="itemPrice"
                                        name="itemPrice" value="{{item.price}}">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="itemCategory">Category of food item:</label>
                                    <select class="form-control" id="itemCategory" name="itemCategory">
                                        <option value="{{item.cat}}" hidden="hidden" selected="selected">{{item.cat}}
                                        </option>
                                        <option>Chinese</option>
                                        <option>Malay</option>
                                        <option>Indian</option>
                                        <option>Western</option>
                                        <option>Fusion</option>
                                        <option>Vegetarian</option>
                                        <option>Desserts</option>
                                        <option>Drinks</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-4">
                        <div class="form-group">
                            <label for="itemImage">Add image to item (optional)</label>
                            <input type="file" id="itemImgUpload" name="itemImgUpload"
                                accept="image/png, image/jpg, image/jpeg, image/gif">
                            <img id="itemImg" src="/img/no-img.png" alt="" class="border img-thumbnail img-fluid"
                                style="height:40%">
                            <input id="imgURL" type="hidden" name="imgURL">
                            <div class="font-weight-bold text-danger small" id="Err" style="display:none"></div>
                        </div>
                    </div>
                </div>
                <input class="btn btn-outline-primary" type="submit" value="Save">
            </form>
        </div>
    </div>
</body>

<script>
    $('#itemImgUpload').on('change', function () {
        let image = $("#itemImgUpload")[0].files[0];
        let formdata = new FormData();
        formdata.append('#itemImgUpload', image);
        $.ajax({
            url: '/upload/{{item.id}}',
            data: formdata,
            contentType: false,
            processData: false,
            type: 'POST',
            'success': (data) => {
                $('#itemImg').attr('src', data.file);
                $('#imgURL').attr('value', data.file);	// sets posterURL hidden field
                if (data.err) {
                    $('#Err').show();
                    $('#Err').text(data.err.message);
                } else {
                    $('#Err').hide();
                }
            }
        });
    });
</script>

</html>