<html>
{{>_header}}
{{#unless orders}}
<meta http-equiv="refresh" content="10" >
{{/unless}}
<body style="background-image: url('img/orders_background.jpg'); background-size: cover;">
	{{>_navbar}}
	<br>

	<div class="container">
		<h3 class="text-left">Orders</h3>
		<div class="row" id="listOrders">
			<br>
			{{#if orders}}
			{{#each orders}}
			<div class="col-12 col-md-6 col-lg-4" style="padding-top: 15px;">
				<div id={{id}} class="card bg-light mb-3">
					<div class="card-body">
						<h5 class="card-title">Order: {{item_name}}</h5>
						<h6 class="card-subtitle mt-2">Ordered by: {{user_admin}}</h6>
					</div>
					<div class="card-body">
						<p>Order ID: {{id}}</p>
						<p>Item ID: {{item_id}}</p>
						<p>Time: {{createdAt}}</p>
					</div>
					<div class="card-body">
						{{#if (eq status 0)}}
						<button type="button" id="{{id}}/0" onclick="changeStatus(id)"
							class="btn btn-primary">Preparing</button>
						{{else}}
						<button type="button" id="{{id}}/0" onclick="changeStatus(id)"
							class="btn btn-outline-dark">Preparing</button>
						{{/if}}

						{{#if (eq status 1)}}
						<button type="button" id="{{id}}/1" onclick="changeStatus(id)"
							class="btn btn-primary">Ready</button>
						{{else}}
						<button type="button" id="{{id}}/1" onclick="changeStatus(id)"
							class="btn btn-outline-dark">Ready</button>
						{{/if}}

						{{#if (eq status 2)}}
						<button type="button" id="{{id}}/2" onclick="changeStatus(id)"
							class="btn btn-primary">Collected</button>
						{{else}}
						<button type="button" id="{{id}}/2" onclick="changeStatus(id)"
							class="btn btn-outline-dark">Collected</button>
						{{/if}}
					</div>
				</div>
			</div>
			</form>
			{{/each}}
			{{else}}
			<div class="col">
				<div class="card bg-light mb-3">
					<div class="card-body">
						<h4 class="text-center">
							Hmm, no orders yet...
							<br><br>
							Try <a href="/orders">refreshing</a> in a bit.
						</h4>
					</div>
				</div>
			</div>
			{{/if}}
		</div>
	</div>
</body>

<script>
	function changeStatus(element_id) {
		var childs = document.getElementById(element_id).parentNode.childNodes;
		for (var i = 0; i < childs.length; i++) {
			childs[i].className = "btn btn-outline-dark";
		}
		document.getElementById(element_id).className = "btn btn-primary";
	}

	$(document).ready(function () {
		$("button").click(function () {
			console.log("Ajax Active");
			var element = event.target.id;
			$.ajax({
				url: '/orders/' + element,
				type: 'POST'
			});
			
			if (element.split("/")[1] == 2) {
				location.reload();
			}
		});
	});
</script>

</html>